html {
  --very-light-gray: #ededed;
  --darker-gray: #777777;
  --darkest-gray: #444444;
  --blue: #0011bb;
  --purple: #6600cc;
}

body {
  font-family: sans-serif;
  margin: 0;
}

#headerBar {
  background-color: var(--very-light-gray);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

h1 {
  margin: 0;
  vertical-align: middle;
  color: var(--darker-gray);
}

#logo {
  height: 50px;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar {
  height: 200px;
  margin-right: 15px;
}

#profileContent {
  display: flex;
}

td {
  padding-right: 15px;
  color: var(--darker-gray);
  font-weight: bold;
}

.title {
  color: var(--darkest-gray);
}